<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-blockquotes.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Blockquotes</h1>
                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Basic Blockquotes</h2>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-reverse">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-color blockquote-reverse">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-color-bg withripple">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-color-bg blockquote-reverse withripple">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <div class="row">
                            <div class="col-md-6">
                                <blockquote class="blockquote-big">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante nisi vel augue quam semper libero.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <blockquote class="blockquote-big blockquote-reverse">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>

                        <hr class="dotted">

                        <blockquote class="blockquote-color-bg-primary withripple">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-color-bg-dark withripple">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <blockquote class="blockquote-color-bg-light withripple">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>

                        <hr class="dotted">

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead1">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code1" aria-expanded="false" aria-controls="code1">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead1">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;blockquote&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-reverse&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color blockquote-reverse&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color-bg&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color-bg blockquote-reverse&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-big&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-big blockquote-reverse&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color-bg-primary&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color-bg-dark&quot;&gt;
...
&lt;/blockquote&gt;

&lt;blockquote class=&quot;blockquote-color-bg-light&quot;&gt;
...
&lt;/blockquote&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <div class="wrap-inverse bg-danger">

                            <h2 class="section-title text-center">Blockquotes inside cards</h2>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="card">
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card mt-4">
                                        <blockquote class="blockquote-avatar withripple">
                                            <img src="<%= assets %>/img/demo/avatar.png" alt="" class="avatar">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mt-4">
                                        <blockquote class="blockquote-avatar right withripple">
                                            <img src="<%= assets %>/img/demo/avatar.png" alt="" class="avatar">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-warning panel-code">
                                <div class="panel-heading panel-code-heading" role="tab" id="codeHead2">
                                    <h4 class="panel-title panel-code-title">
                                        <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code2" aria-expanded="false" aria-controls="code2">
                                            <i class="zmdi zmdi-code"></i> Show Code
                                        </a>
                                    </h4>
                                </div>
                                <div id="code2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead2">
                                    <div class="panel-code-body">
    <pre><code class="language-markup line-numbers"></code></pre>
                                    </div>
                                </div>
                            </div> <!-- panel-code -->
                        </div>
                    </section>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
