<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-audio-video.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Audio &amp; Video</h1>
                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Videos</h2>
                        <p class="lead color-danger">Post videos from vimeo, youtube or from your own host.</p>

                        <div class="card">
                            <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="text-center">Vimeo</h3>
                                <div class="card">
                                    <div data-type="vimeo" data-video-id="187935649"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">Youtube</h3>
                                <div class="card">
                                    <div data-type="youtube" data-video-id="9ZfN87gSjvI"></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead1">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code1" aria-expanded="false" aria-controls="code1">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead1">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;h3 class=&quot;text-center&quot;&gt;Vimeo&lt;/h3&gt;
&lt;div class=&quot;card&quot;&gt;
    &lt;div data-type=&quot;vimeo&quot; data-video-id=&quot;187935649&quot;&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Youtube&lt;/h3&gt;
&lt;div class=&quot;card&quot;&gt;
    &lt;div data-type=&quot;youtube&quot; data-video-id=&quot;9ZfN87gSjvI&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Video Cards</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="text-center">Basic Card</h3>
                                <div class="card">
                                    <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
                                    <div class="card-block text-center">
                                        <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">Whith Color</h3>
                                <div class="card card-royal">
                                    <div data-type="vimeo" data-video-id="187935649"></div>
                                    <div class="card-block text-center">
                                        <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">Color Inverse</h3>
                                <div class="card card-success-inverse">
                                    <div data-type="youtube" data-video-id="9ZfN87gSjvI"></div>
                                    <div class="card-block text-center">
                                        <h4 class="">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-white color-success btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">Reverse Order</h3>
                                <div class="card">
                                    <div class="card-block text-center">
                                        <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                    <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="text-center">With Title</h3>
                                <div class="card card-danger">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div data-type="vimeo" data-video-id="187935649"></div>
                                    <div class="card-block text-center">
                                        <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">With Title &amp; Inverse Color</h3>
                                <div class="card card-info-inverse">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
                                    <div class="card-block text-center">
                                        <h4 class="">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-white color-info btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead2">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code2" aria-expanded="false" aria-controls="code2">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead2">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;h3 class=&quot;text-center&quot;&gt;With Title&lt;/h3&gt;
        &lt;div class=&quot;card card-danger&quot;&gt;
            &lt;div class=&quot;card-header&quot;&gt;
                &lt;h3 class=&quot;card-title&quot;&gt;&lt;i class=&quot;zmdi zmdi-graduation-cap&quot;&gt;&lt;/i&gt; Card Title&lt;/h3&gt;
            &lt;/div&gt;
            &lt;div data-type=&quot;vimeo&quot; data-video-id=&quot;187935649&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;card-block text-center&quot;&gt;
                &lt;h4 class=&quot;color-danger&quot;&gt;Lorem ipsum dolor sit&lt;/h4&gt;
                ...
                &lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn btn-danger btn-raised&quot;&gt;&lt;i class=&quot;zmdi zmdi-flower&quot;&gt;&lt;/i&gt; Button&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;h3 class=&quot;text-center&quot;&gt;With Title &amp; Inverse Color&lt;/h3&gt;
        &lt;div class=&quot;card card-info-inverse&quot;&gt;
            &lt;div class=&quot;card-header&quot;&gt;
                &lt;h3 class=&quot;card-title&quot;&gt;&lt;i class=&quot;zmdi zmdi-graduation-cap&quot;&gt;&lt;/i&gt; Card Title&lt;/h3&gt;
            &lt;/div&gt;
            &lt;div data-type=&quot;youtube&quot; data-video-id=&quot;bTqVqk7FSmY&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;card-block text-center&quot;&gt;
                &lt;h4 class=&quot;&quot;&gt;Lorem ipsum dolor sit&lt;/h4&gt;
                ...
                &lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn btn-white color-info btn-raised&quot;&gt;&lt;i class=&quot;zmdi zmdi-flower&quot;&gt;&lt;/i&gt; Button&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Audio</h2>
                        <p class="lead color-danger">Play audio easily with the integrated plugin.</p>

                        <h3>Basic</h3>
                        <audio controls>
                            <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                            <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                        </audio>

                        <h3>Inside Cards</h3>
                        <div class="card card-warning">
                            <audio controls>
                                <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                            </audio>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-danger">
                                    <audio controls>
                                        <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                        <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                    </audio>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-success">
                                    <audio controls>
                                        <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                        <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                    </audio>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-danger">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <audio controls>
                                        <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                        <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                    </audio>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <audio controls>
                                        <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                        <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                    </audio>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-royal">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <audio controls>
                                        <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                        <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                    </audio>
                                    <div class="card-block text-center">
                                        <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-warning">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div class="card-block text-center">
                                        <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-cloud-download"></i> Download</a>
                                    </div>
                                    <audio controls>
                                        <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                        <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                    </audio>
                                </div>
                            </div>
                        </div>

                        <h3>Responsive</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <audio controls>
                                    <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                    <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                </audio>
                            </div>
                            <div class="col-md-6">
                                <audio controls>
                                    <source src="<%= assets %>/media/music.mp3" type="audio/mp3">
                                    <source src="<%= assets %>/media/music.ogg" type="audio/ogg">
                                </audio>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead3">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code3" aria-expanded="false" aria-controls="code3">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead3">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;h3&gt;Basic&lt;/h3&gt;
&lt;audio controls&gt;
    &lt;source src=&quot;&lt;%= assets %&gt;/media/music.mp3&quot; type=&quot;audio/mp3&quot;&gt;
    &lt;source src=&quot;&lt;%= assets %&gt;/media/music.ogg&quot; type=&quot;audio/ogg&quot;&gt;
&lt;/audio&gt;

&lt;h3&gt;Inside Cards&lt;/h3&gt;
&lt;div class=&quot;card card-warning&quot;&gt;
    &lt;audio controls&gt;
        &lt;source src=&quot;&lt;%= assets %&gt;/media/music.mp3&quot; type=&quot;audio/mp3&quot;&gt;
        &lt;source src=&quot;&lt;%= assets %&gt;/media/music.ogg&quot; type=&quot;audio/ogg&quot;&gt;
    &lt;/audio&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
