<!-- build:include layout/header.html --><!-- /build -->

  <script src='js/app.js'></script>
  <script src='js/services/deployment.js'></script>
  <script src='js/controllers/deployments_controller.js'></script>

<div class="material-background"></div>

<div class="container container-full" ng-controller="DeploymentCtrl">
    <div class="ms-paper">
        <div class="row">
            <!-- build:omailMenu component-CAMBIAR.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
              <div class="ms-paper-content">
                <section class="ms-component-section">
                  <h3 style="margin-top: 0;" class="section-title no-margin-top">My Deployment Calendar</h3>

                <div class="card" style="height: 360px; background-color: #CCC;">
                    <div class="card-block">
                        Calendar
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>
                              TRACK_ID
                          </th>
                          <th>
                              STATUS
                          </th>
                          <th>
                              DATE
                          </th>
                          <th>
                              CreatedBy
                          </th>
                          <th>
                              DeploymentName
                          </th>
                          <th>
                              DeploymentTypeDescription
                          </th>
                          <th>
                              FinalApprover
                          </th>
                          <th>
                            SPAM_SCORE
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="t in deployments" ng-click="selectDeployment($event)">
                          <td>
                              {{ t.TrackId }}
                          </td>
                          <td>
                              {{ t.Status }}
                          </td>
                          <td>
                              {{ t.CreatedDate }}
                          </td>
                          <td>
                              {{ t.CreatedBy }}
                          </td>
                          <td>
                              {{ t.DeploymentName }}
                          </td>
                          <td>
                              {{ t.DeploymentTypeDescription }}
                          </td>
                          <td>
                              {{ t.FinalApprover }}
                          </td>
                          <td>
                              {{ t.CalculateSpamScore }}
                          </td>
                        <tr>
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
              <!-- ms-paper-content -->
            </div>
            <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/no-footer.html --><!-- /build -->
