<!-- build:include layout/header.html --><!-- /build -->

<header class="ms-hero bg-primary-dark pb-4 pt-4 mb-6">
    <div class="container">
        <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Material<span>Style</span></h1>
            <p class="lead mt-2 animated zoomInDown animation-delay-5">We help you create your project, your dream.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="card wow fadeInUp">
        <div class="card-block card-block-big">
            <h2 class="text-center fw-500">About Us</h2>
            <p class="lead text-center center-block mw-800">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge.</p>

            <div class="row mt-4">
                <div class="col-md-6 col-md-push-6 text-justify">
                    <h3 class="color-primary">Know us</h3>
                    <p class="dropcaps">Fugit recusandae dolores, hic suscipit necessitatibus nobis culpa, quidem inventore molestias autem eligendi provident, natus eius reprehenderit repudiandae velit! Aut qui deleniti autem nobis laborum sapiente tempore, facere cumque tempora laudantium porro illo officiis culpa labore magnam itaque eos quia asperiores officia voluptas voluptatem est molestias architecto magni corporis. Cupiditate, voluptates, saepe.</p>
                    <p>Explicabo numquam quam amet vel laboriosam odio eaque quos esse cumque, nam deserunt ducimus odit libero asperiores necessitatibus, soluta corporis dignissimos. Delectus temporibus iusto debitis obcaecati accusantium, dolorum ad doloremque maiores optio ut magni praesentium cupiditate dolore.</p>
                    <p>Nulla delectus tempora ab ipsum molestias dolorem explicabo nihil. Officia quia iusto sint, iure nemo vitae aperiam, corrupti aliquid fugit, qui dolore voluptatibus eos quisquam obcaecati, omnis iste illum optio. Maxime atque hic vero. Doloribus eius sit laborum fugiat necessitatibus tempora facilis facere cumque, ipsum nam, temporibus, perferendis non ratione!</p>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <h3 class="color-primary">Our Principles</h3>
                    <ol class="service-list list-unstyled">
                        <li>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                        <li>Totam porro sit, obcaecati quos quae iure tenetur, soluta voluptatem sapiente rerum ipsam delectus corporis voluptates voluptate, nulla mollitia pariatur.</li>
                        <li>Enim quas nesciunt sequi odit, ut <a href="#">quisquam vitae commodi</a> animi placeat nihil saepe magnam aliquam, vero harum quae doloribus aut nostrum veniam alias!</li>
                        <li>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-block mt-6 card-block-big wow fadeInUp">
        <h3 class="text-center fw-500 mb-6">Projects Completed</h3>
        <ul class="ms-timeline-left">
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Google</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Service Web App</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">Mountain View</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Maecenas tempus tellus eget</li>
                    <li>Donec pede justo ante</li>
                </ul>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Microsoft</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Android App</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">San Fransisco</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Twitter</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Consulting Work</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">Madrid</span>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error.</p>
                <p>Iure quae, voluptates laudantium. Eaque fugiat labore aliquam, explicabo, iste nam modi esse. Esse ea, perspiciatis alias non natus reprehenderit id omnis.</p>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>New York Times</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Promotional Website</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">New York</span>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error, pariatur minima sint earum qui ea neque. Perspiciatis soluta, maxime dignissimos inpo on repudiandae sed vero amet nisi ut, dolores, placeat illo. Sunt molestiae.</p>
                <ul>
                    <li>Delectus error quos expedita dignissimos quidem voluptatibus mollitia inventore aperiam laboriosam quisquam excepturi quasi quas, enim, similique voluptatum reprehenderit dicta quae dolores.</li>
                    <li>Praesentium ullam, ratione ut dolor alias minima. Eius, corporis a, doloribus esse praesentium saepe quo delectus, quos, nobis sint repudiandae ratione.</li>
                </ul>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>AGM Studio</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Business Project</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">London</span>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error, pariatur minima sint earum qui ea neque. Perspiciatis soluta, maxime dignissimos inpo on repudiandae sed vero amet nisi ut, dolores, placeat illo. Sunt molestiae.</p>
            </li>
        </ul>
    </div>

    <div class="card card-primary-inverse mt-6 wow fadeInUp">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-4">Professional Skills</h3>
            <h4 class="text-center">Top Skills</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center mt-4">
                        <div class="circle" id="circles-1"></div>
                        <h4 class="text-center">Javascript</h4>
                        <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center mt-4">
                        <div class="circle" id="circles-2"></div>
                        <h4 class="text-center">Wordpress API</h4>
                        <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center mt-4">
                        <div class="circle" id="circles-3"></div>
                        <h4 class="text-center">Frontend Development</h4>
                        <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
            <h4 class="text-center mt-6 mb-2">Other Skills</h4>
            <div class="text-center center-block mw-500">
                <span class="ms-tag ms-tag-light color-primary">HTML 5</span>
                <span class="ms-tag ms-tag-light color-primary">Bootstrap</span>
                <span class="ms-tag ms-tag-light color-primary">SASS</span>
                <span class="ms-tag ms-tag-light color-primary">LESS</span>
                <span class="ms-tag ms-tag-light color-primary">Jquery</span>
                <span class="ms-tag ms-tag-light color-primary">Angular JS</span>
                <span class="ms-tag ms-tag-light color-primary">React</span>
                <span class="ms-tag ms-tag-light color-primary">CSS 3</span>
                <span class="ms-tag ms-tag-light color-primary">Git</span>
                <span class="ms-tag ms-tag-light color-primary">Linux</span>
                <span class="ms-tag ms-tag-light color-primary">Ruby</span>
                <span class="ms-tag ms-tag-light color-primary">C/C++</span>
                <span class="ms-tag ms-tag-light color-primary">Python</span>
                <span class="ms-tag ms-tag-light color-primary">MVC</span>
                <span class="ms-tag ms-tag-light color-primary">C#</span>
                <span class="ms-tag ms-tag-light color-primary">Spanish</span>
                <span class="ms-tag ms-tag-light color-primary">PHP</span>
                <span class="ms-tag ms-tag-light color-primary">Symphony</span>
            </div>
        </div>
    </div>

    <div class="card mt-6 wow fadeInUp">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-4">Testimonials</h3>
            <div class="mw-800 center-block">
                <div id="carousel-example-generic" class="carousel-cards carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <blockquote class="ms-blockquote">
                                <p class="lead">Voluptatibus fugit distinctio, corporis accusantium excepturi eos voluptates explicabo saepe. Nesciunt illo incidunt esse provident eos eligendi blanditiis voluptatum inventore quod id.</p>
                                <footer><strong>Alan Grants</strong>, <cite title="Source Title">Twitter Inc.</cite></footer>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote class="ms-blockquote">
                                <p class="lead">Voluptatibus fugit distinctio, corporis accusantium excepturi eos voluptates explicabo saepe. Nesciunt illo incidunt esse provident eos eligendi blanditiis voluptatum inventore quod id.</p>
                                <footer><strong>Alan Grants</strong>, <cite title="Source Title">Twitter Inc.</cite></footer>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote class="ms-blockquote">
                                <p class="lead">Voluptatibus fugit distinctio, corporis accusantium excepturi eos voluptates explicabo saepe. Nesciunt illo incidunt esse provident eos eligendi blanditiis voluptatum inventore quod id.</p>
                                <footer><strong>Alan Grants</strong>, <cite title="Source Title">Twitter Inc.</cite></footer>
                            </blockquote>
                        </div>
                    </div>

                    <ol class="carousel-indicators carousel-indicators-primary">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-6 wow fadeInUp">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-4">Team</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card card-flat card-danger wow zoomInUp">
                        <div class="ms-hero-bg-danger ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-danger">Victoria Smith</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card card-flat card-info wow zoomInUp">
                        <div class="ms-hero-bg-info ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-info">Charlie Durant</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card card-flat card-warning wow zoomInUp">
                        <div class="ms-hero-bg-warning ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-warning">Joan Fawert</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/home-cv.js"></script>

</body>
</html>
