<!-- build:include layout/header.html --><!-- /build -->

<header class="ms-hero-page ms-hero-bg-dark-light ms-hero-img-airplane mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="color-primary mb-4 animated fadeInDown animation-delay-4">About Us</h1>
            <p class="lead lead-xl mw-800 center-block color-medium mb-2 animated fadeInDown animation-delay-4">
                We are at the <span class="colorStar">forefront of innovation</span>. <br> Discover with us the possibilities of <span class="colorStar animation-delay-10">your next project</span>.
            </p>
            <div class="row mb-4 mt-4">
                <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-5">
                    <i class="zmdi zmdi-accounts color-primary zmdi-hc-4x"></i>
                    <h4 class="color-white text-uppercase">Lorem ipsum dolor</h4>
                </div>
                <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-6">
                    <i class="zmdi zmdi-brightness-7 color-primary zmdi-hc-4x"></i>
                    <h4 class="color-white text-uppercase">Lorem ipsum dolor</h4>
                </div>
                <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-7">
                    <i class="zmdi zmdi-time color-primary zmdi-hc-4x"></i>
                    <h4 class="color-white text-uppercase">Lorem ipsum dolor</h4>
                </div>
                <div class="col-md-3 col-xs-6 animated zoomInUp animation-delay-8">
                    <i class="zmdi zmdi-truck color-primary zmdi-hc-4x"></i>
                    <h4 class="color-white text-uppercase">Lorem ipsum dolor</h4>
                </div>
            </div>
            <a href="javascript:void(0)" class="btn btn-raised btn-warning animated fadeInUp animation-delay-10"><i class="zmdi zmdi-desktop-mac"></i> Portfolio</a>
            <a href="javascript:void(0)" class="btn btn-raised btn-info animated fadeInUp animation-delay-10"><i class="zmdi zmdi-email"></i> Concact us</a>
        </div>
    </div>
</header>

<div class="container wow fadeInUp">
    <div class="row">
        <div class="col-md-6 text-justify">
            <h2 class="color-primary right-line">Our Vision</h2>
            <p class="dropcaps">Non sequi adipisci nostrum natus rem accusamus itaque repellendus illum neque! Voluptate, error commodi a quaerat eveniet tenetur reiciendis nulla doloremque iusto repellat quis asperiores, quibusdam architecto culpa facere aliquam placeat eaque amet, nesciunt vero sunt veniam est quasi doloribus optio nobis alias maiores. Nulla perferendis impedit hic doloremque iusto placeat veniam distinctio error.</p>
            <p>Tenetur numquam a, nesciunt neque odit amet, qui quibusdam natus assumenda quas omnis, aspernatur quisquam nobis illum ea distinctio tempora quaerat. Aperiam cumque, eveniet similique praesentium, temporibus, id quis labore aspernatur quod placeat ducimus fuga consequuntur numquam autem. Voluptates repellat.</p>
            <p class="text-right">
                <cite class="lead color primary-color">— Sundar Pichai, CEO Google Inc.</cite>
            </p>
        </div>
        <div class="col-md-6">
            <h2 class="color-primary right-line">Our Approach</h2>
            <div class="panel-group ms-collapse" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 <i class="fa fa-lightbulb-o"></i> Talent and creativity
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore.</p>
                            <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo expedita nesciunt vero sunt veniam est quasi doloribus ipsam incidunt perferendis.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-desktop"></i> Design and code
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore.</p>
                            <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo expedita nesciunt vero sunt veniam est quasi doloribus ipsam incidunt perferendis.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-user"></i> Quality and Support
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore.</p>
                            <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo expedita nesciunt vero sunt veniam est quasi doloribus ipsam incidunt perferendis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h1 class="color-primary text-center mb-4">Some numerical data</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-primary card-block text-center wow zoomInUp animation-delay-2">
                <h2 class="counter">450</h2>
                <i class="fa fa-4x fa-coffee primary-color"></i>
                <p class="mt-2 no-mb lead small-caps">cups of coffee</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-primary card-block text-center wow zoomInUp animation-delay-5">
                <h2 class="counter">64</h2>
                <i class="fa fa-4x fa-briefcase primary-color"></i>
                <p class="mt-2 no-mb lead small-caps">projects done</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-primary card-block text-center wow zoomInUp animation-delay-4">
                <h2 class="counter">600</h2>
                <i class="fa fa-4x fa-comments-o primary-color"></i>
                <p class="mt-2 no-mb lead small-caps">comments</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-primary card-block text-center wow zoomInUp animation-delay-3">
                <h2 class="counter">3500</h2>
                <i class="fa fa-4x fa-group primary-color"></i>
                <p class="mt-2 no-mb lead small-caps">happy clients</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-6">
    <h2 class="right-line no-mt mb-4 wow fadeInUp">Our Services</h2>
    <div class="col-md-4 col-sm-6">
        <div class="ms-icon-feature wow flipInX animation-delay-4">
            <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg"><i class="fa fa-cloud"></i></span>
            </div>
            <div class="ms-icon-feature-content">
                <h4 class="color-primary">Cloud Computing</h4>
                <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="ms-icon-feature wow flipInX animation-delay-4">
            <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg"><i class="fa fa-desktop"></i></span>
            </div>
            <div class="ms-icon-feature-content">
                <h4 class="color-primary">Web Design and SEO</h4>
                <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="ms-icon-feature wow flipInX animation-delay-4">
            <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg"><i class="fa fa-tablet"></i></span>
            </div>
            <div class="ms-icon-feature-content">
                <h4 class="color-primary">Mobile and Tablet Apps</h4>
                <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="ms-icon-feature wow flipInX animation-delay-4">
            <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg"><i class="fa fa-wordpress"></i></span>
            </div>
            <div class="ms-icon-feature-content">
                <h4 class="color-primary">Wordpress Themes</h4>
                <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="ms-icon-feature wow flipInX animation-delay-4">
            <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg"><i class="fa fa-graduation-cap"></i></span>
            </div>
            <div class="ms-icon-feature-content">
                <h4 class="color-primary">Training and development</h4>
                <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="ms-icon-feature wow flipInX animation-delay-4">
            <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg"><i class="fa fa-send"></i></span>
            </div>
            <div class="ms-icon-feature-content">
                <h4 class="color-primary">Customer service</h4>
                <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="color-primary text-center" text-center>Team</h1>
    <div class="col-md-4 col-sm-6">
        <div class="card mt-4 card-danger wow zoomInUp animation-delay-7">
            <div class="ms-hero-bg-danger ms-hero-img-city">
                <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
            </div>
            <div class="card-block pt-6 text-center">
                <h3 class="color-danger">Victoria Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card mt-4 card-info wow zoomInUp animation-delay-7">
            <div class="ms-hero-bg-info ms-hero-img-city">
                <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
            </div>
            <div class="card-block pt-6 text-center">
                <h3 class="color-info">Charlie Durant</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
            <div class="ms-hero-bg-warning ms-hero-img-city">
                <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
            </div>
            <div class="card-block pt-6 text-center">
                <h3 class="color-warning">Joan Fawert</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
