.ms-hero-rev {
    margin-top: -40px !important;

    .tp-caption {
        font-family: 'Roboto', sans-serif;
        //font-weight: 300 !important;
    }

    .WebProduct-Title {
        strong {
            font-weight: 300;
        }
    }
}
