<div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">
    <header class="ms-slidebar-header">
        <div class="ms-slidebar-login">
            <a href="javascript:void(0)" class="withripple"><i class="zmdi zmdi-account"></i> Login</a>
            <a href="javascript:void(0)" class="withripple"><i class="zmdi zmdi-account-add"></i> Register</a>
        </div>

        <div class="ms-slidebar-title">
            <form class="search-form">
                <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
                <label for="search-box-slidebar"><i class="zmdi zmdi-search"></i></label>
            </form>

            <div class="ms-slidebar-t">
                <span class="ms-logo ms-logo-sm">M</span>
                <h3>Material<span>Style</span></h3>
            </div>
        </div>
    </header>

    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li><a data-scroll class="link" href="#home"><i class="zmdi zmdi-home"></i> Home</a></li>
        <li><a data-scroll class="link" href="#services"><i class="zmdi zmdi-flight-takeoff"></i> Services</a></li>
        <li><a data-scroll class="link" href="#portfolio"><i class="zmdi zmdi-desktop-mac"></i> Portfolio</a></li>
        <li><a data-scroll class="link" href="#pricing"><i class="zmdi zmdi-money-box"></i> Pricing</a></li>
        <li><a data-scroll class="link" href="#about"><i class="zmdi zmdi-info-outline"></i> About Us</a></li>
        <li><a data-scroll class="link" href="#team"><i class="zmdi zmdi-accounts"></i> Team</a></li>
        <li><a data-scroll class="link" href="#contact"><i class="zmdi zmdi-email"></i> Contact</a></li>
        <li><a data-scroll class="link" href="index.html"><i class="zmdi zmdi-swap"></i> Main Site</a></li>
    </ul>


    <div class="ms-slidebar-social ms-slidebar-block">
        <h4 class="ms-slidebar-block-title">Social Links</h4>
        <div class="ms-slidebar-social">
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-facebook"><i class="zmdi zmdi-facebook"></i> <span class="badge badge-pink">12</span></a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-twitter"><i class="zmdi zmdi-twitter"></i> <span class="badge badge-pink">4</span></a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-youtube"><i class="zmdi zmdi-youtube"></i></a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
        </div>
    </div>
</div>
