<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="theme-color" content="#333">

    <title>Oxygen</title>
    <meta name="description" content="Oxygen">

    <link rel="shortcut icon" href="<%= assets %>/img/favicon.png?v=3">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- angular1.0-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- ui.router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <!-- angular1.0 components -->
    <script src='js/app.js'></script>
    <script src='js/services/deployment.js'></script>
    <script src='js/services/deploymentInfo.js'></script>
    <script src='js/controllers/deployments_controller.js'></script>

    <!-- build:css:dist,navbar,demo <%=assets%>/css/preload.min.css -->
    <link rel="stylesheet" href="<%= assets %>/css/preload.css">
    <!-- /build -->

    <!-- build:css <%=assets%>/css/plugins.min.css -->
    <link rel="stylesheet" href="<%= assets %>/css/animate.min.css">
    <link rel="stylesheet" href="<%= assets %>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= assets %>/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="<%= assets %>/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= assets %>/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="<%= assets %>/css/Slidebars.min.css">
    <link rel="stylesheet" href="<%= assets %>/css/prism-onedark.css">
    <!-- /build -->

    <!-- build:css:dist,navbar,demo <%=assets%>/css/style.<%=primaryColor%>.min.css -->
    <link rel="stylesheet" href="<%= assets %>/css/style.themed.css">
    <!-- /build -->


    <!-- build:remove:dist,navbar,dev -->
    <link rel="stylesheet" href="<%= assets %>/css/width-boxed.min.css" id="ms-boxed" disabled="">
    <!-- /build -->

    <!--[if lt IE 9]>
        <script src="<%= assets %>/js/html5shiv.min.js"></script>
        <script src="<%= assets %>/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>