// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,300italic,400italic,500,700|Indie+Flower:400|);

@import 'variables/material-colors';
@import 'variables/material-typography';

@import 'config';

@import 'material-design/ripples';
@import 'material-design/bootstrap-material-design';


@import 'base/material-shadows';

@import 'base/mixins';
@import 'base/animations';
@import 'base/utilities';
@import 'base/main';

@import 'base/typography';
@import 'modules/buttons';
@import 'modules/labels';
@import 'modules/lists';
@import 'modules/forms';
@import 'modules/pagination';
@import 'modules/tables';
@import 'modules/progressbar';
@import 'modules/modals';
@import 'modules/header';
@import 'modules/navbar';
@import 'modules/panels';
@import 'modules/paper';
@import 'modules/tooltip';
@import 'modules/dropdowns';
@import 'modules/icons';
@import 'modules/alerts';
@import 'modules/code';
@import 'modules/tabs';
@import 'modules/card';
@import 'modules/charts';
@import 'modules/price';
@import 'modules/heros';
@import 'modules/carousels';
@import 'modules/timeline';
@import 'modules/bxSlider';
@import 'modules/collapses';
@import 'modules/thumbnails';
@import 'modules/revolution';
@import 'modules/configurator';
@import 'modules/footer';

@import 'modules/slidebars';

@import 'pages/page-login';
@import 'pages/page-coming';
@import 'pages/page-portfolio';
@import "pages/pages-lead";

@import 'base/responsive';
